.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  @include mediumScreen {
    width: 100%;
  }

  .search__form {
    width: 100%;
    position: relative;
    padding: $padding-base;

    .search__input {
      transition: 1s;
      width: 50%;
      height: 3rem;
      background: $color-primary;
      box-shadow: 2px 0px 44px 8px transparent;
      border-radius: 2rem;
      border: none;
      padding: $padding-base;
      font-family: $font-primary;

      @include mediumScreen {
        width: 100%;
      }
      &:focus {
        transition: 0.3;
        outline: none;
        box-shadow: 2px 0px 44px 8px $color-primary-blackened;
      }
    }

    .search__button {
      transition: 1s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-120%, -50%);
      background: url("../../assets/searchicon.png") no-repeat center/contain;
      box-shadow: 2px 0px 44px 8px transparent;
      border: none;

      @include mediumScreen {
        left: 90%;
      }

      &:focus {
        transition: 0.3;
        outline: none;
        box-shadow: 0 0 18px 18px $color-primary;
      }
    }
  }
}
