.page-changing__container {
  display: flex;
  position: absolute;
  bottom: $margin-base;
  left: 0;
}

.search-results-label__list {
  @include starWarsLetters;
  display: flex;
  justify-content: space-evenly;
  font-size: $font-size-base * 2;
  text-shadow: -1px 0 $color-primary-blackened, 0 1px $color-primary-blackened,
    1px 0 $color-primary-blackened, 0 -1px $color-primary-blackened;

  .search-results-label__element {
    flex: 1;
  }
}

.d-none {
  display: none;
}
