@mixin starWarsLetters {
  color: $color-secondary;
  font-size: 1.5rem;
  text-shadow: -1px 0 $color-primary, 0 1px $color-primary, 1px 0 $color-primary,
    0 -1px $color-primary;
  flex: 1;
  font-family: $font-primary;
}

@mixin mediumScreen {
  @media (max-width: 700px) {
    @content;
  }
}
