.film-details__list-element{
    display: flex;
    align-items: flex-start;
   

    .film-details__content{
        list-style:none;
        display: flex;
        color: white;
        text-align: center;
        padding: $padding-base;
        font-family: $font-primary;
        font-size: $base-font-size;
    }

    .film-details__label{
        @include starWarsLetters;
        font-size: $base-font-size;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}




